@model EventRegistrationSystem.Models.Performance

@{
    ViewData["Title"] = "Details";
}

<h2>Performance Details</h2>
<hr />

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueuePosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueuePosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl>

    <div class="row">
        <div class="col-1">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        </div>
        <div class="col-2">
            <a asp-action="Index" class="btn btn-danger">Back to List</a>
        </div>
    </div>
</div>