@model IEnumerable<EventRegistrationSystem.Models.Performance>

@{
    ViewData["Title"] = "Performances";
}


<div class="container">
    <div class="row justify-content-between py-3">
        <div class="col-auto me-auto">
            <h1>Performances</h1>
        </div>
        <div class="col-auto">
            <a asp-action="Create" class="btn btn-primary">Add new Performance</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QueuePosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfStart)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                <tr>
                    <td><strong>@(i + 1)</strong></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QueuePosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOfStart)
                    </td>
                    <td>
                        <div class="btn-group float-end" role="group" aria-label="Basic example">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>